# Mariann Adaliz Avila Rios 1811303
# Melany Salazar Mata 1679234
# Magaly Rivera Valdez 1823340

### Librerias

In [21]:
import pandas as pd
import numpy as np
import json

### Bases de datos

In [45]:
# Csv de asilos anuales
an = pd.read_csv("C:/Users/melan/Desktop/Doc/Mineria de Datos/Bases de datos/asylum_seekers.csv")

C:\Users\melan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Visualización de datos

In [46]:
# Cantidad de Filas, Columnas
print (an.shape)

(129720, 14)

In [24]:
# 5 primeros datos de la tabla (anuales)
an.head()

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

In [25]:
# 5 ultimos datos de la tabla (anuales)
an.tail()

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [26]:
# Nombres de las columnas (anuales)
an.columns

Index(['Year', 'Country / territory of asylum/residence', 'Origin',
       'RSD procedure type / level', 'Tota pending start-year',
       'of which UNHCR-assisted(start-year)', 'Applied during year',
       'decisions_recognized', 'decisions_other', 'Rejected',
       'Otherwise closed', 'Total decisions', 'Total pending end-year',
       'of which UNHCR-assisted(end-year)'],
      dtype='object')

In [27]:
# Tipo de dato que contiene cada columna
an.dtypes

Year                                        int64
Country / territory of asylum/residence    object
Origin                                     object
RSD procedure type / level                 object
Tota pending start-year                    object
of which UNHCR-assisted(start-year)        object
Applied during year                        object
decisions_recognized                       object
decisions_other                            object
Rejected                                   object
Otherwise closed                           object
Total decisions                            object
Total pending end-year                     object
of which UNHCR-assisted(end-year)          object
dtype: object

### Datos nulos

In [52]:
# Sabes si exiten datos nulos en las columnas (True)
an.isnull().any()

Year                                       False
Country / territory of asylum/residence    False
Origin                                     False
RSD procedure type / level                  True
Tota pending start-year                     True
of which UNHCR-assisted(start-year)         True
Applied during year                         True
decisions_recognized                        True
decisions_other                             True
Rejected                                    True
Otherwise closed                            True
Total decisions                             True
Total pending end-year                      True
of which UNHCR-assisted(end-year)           True
dtype: bool

In [51]:
# Suma de datos nulos en las columnas
an.isnull().sum()

Year                                           0
Country / territory of asylum/residence        0
Origin                                         0
RSD procedure type / level                     1
Tota pending start-year                     5142
of which UNHCR-assisted(start-year)        10758
Applied during year                         3498
decisions_recognized                        9834
decisions_other                            14746
Rejected                                    8105
Otherwise closed                            8870
Total decisions                            32638
Total pending end-year                      3888
of which UNHCR-assisted(end-year)           7837
dtype: int64

### Clasificación de datos

In [43]:
an.Origin.unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia (Plurinational State of)', 'Brazil',
       'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Rep.', 'Canada', 'Switzerland', 'Chile', 'China',
       "Côte d'Ivoire", 'Cameroon', 'Dem. Rep. of the Congo', 'Congo',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba',
       'Cyprus', 'Czech Rep.', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Rep.', 'Algeria', 'Ecuador', 'Egypt',
       'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Guatemala', 'Guyana',
       'China, Hong Kong SAR', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran (Islamic Rep. of)', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'Rep. of Korea', 'Kuwait',
       "Lao People's Dem. Rep.", 'Lebanon', 'Liberia', 'Libya',
       'Saint Lucia', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'China, Macao SAR', 'Morocco', 'Rep. of Moldova',
       'Madagascar', 'Maldives', 'Mexico',
       'The former Yugoslav Republic of Macedonia', 'Mali', 'Malta',
       'Myanmar', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius',
       'Malawi', 'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', "Dem. People's Rep. of Korea",
       'Portugal', 'Paraguay', 'Palestinian', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia and Kosovo (S/RES/1244 (1999))',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Swaziland', 'Seychelles', 'Syrian Arab Rep.', 'Chad',
       'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Timor-Leste',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'United Rep. of Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States of America', 'Uzbekistan',
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Vanuatu',
       'Samoa', 'Stateless', 'Various/Unknown', 'Yemen', 'South Africa',
       'Zambia', 'Zimbabwe', 'Nauru', 'Tibetan', 'Bermuda',
       'Cayman Islands', 'Micronesia (Federated States of)',
       'Liechtenstein', 'Monaco', 'Marshall Islands', 'Niue',
       'Turks and Caicos Islands', 'Puerto Rico', 'French Polynesia',
       'New Caledonia', 'Holy See (the)', 'Montenegro', 'French Guiana',
       'Cook Islands', 'Aruba', 'South Sudan', 'British Virgin Islands',
       'Curaçao', 'Guadeloupe', 'Saint-Pierre-et-Miquelon',
       'Wallis and Futuna Islands ', 'Martinique',
       'Svalbard and Jan Mayen', 'Anguilla', 'American Samoa',
       'Norfolk Island'], dtype=object)

In [44]:
an.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016], dtype=int64)

In [55]:
# Cambiar nombre de columnas
an.rename(columns = {'Country / territory of asylum/residence':'Pais_asilo'})

,Year,Pais_asilo,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129715,2016,United States of America,Zimbabwe,G / IN,232,NaN,229,16,NaN,*,10,28,435,NaN
129716,2016,United States of America,Zimbabwe,G / EO,142,NaN,12,*,NaN,*,23,31,138,NaN
129717,2016,South Africa,Zimbabwe,G / AR,94,9,NaN,NaN,NaN,NaN,94,94,0,NaN
129718,2016,South Africa,Zimbabwe,G / FI,41238,4124,7964,73,NaN,7869,NaN,7942,41260,NaN
129719,2016,Zambia,Zimbabwe,G / FI,*,*,*,0,NaN,*,*,*,*,*

In [58]:
Afghanistan = an[an['Origin']=='Afghanistan']            #Hago una agrupacion en la columna de Origin, la que sean Afghanistan

Afghanistan.to_csv('Solo_clase1.csv', index=False)       # Se guardo la agrupacion Afghanistan

### Preguntas de interes:

##### ¿Para que me puede servir estas agrupaciones para la práctica siguiente?

Nos ayuda para entender más los datos que tenemos, nos ayuda a mejorar la precisión de los modelos predictivos.

##### Importancia del analisis previo de los datos antes de iniciar las modificaciones

Nos ayuda a saber cuales datos nos pueden llegar a servir y cuales no en nuestro objetivo. Incluso, darnos más ideas para nuevos objetivos.

### Tarea extra

##### Investigar los siguientes comandos: ?df.dropna() ?df.astype

A veces, el archivo csv tiene valores nulos, que luego se muestran como NaN en el marco de datos. El método pandas dropna () permite al usuario analizar y soltar Filas / Columnas con valores nulos de diferentes formas.

##### Realizar una tarea de preprocesamiento no mencionada en esta práctica

In [64]:
# Eliminar todas las filas que contengan datos nulos
an_drop = an.dropna()
an_drop

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0
5,2000,Ukraine,Afghanistan,G / FI,40,0,662,275,0,412,0,687,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129680,2016,United Kingdom,Zimbabwe,G / FI,475,0,299,31,19,223,15,288,361,0
129689,2016,Italy,Zimbabwe,G / FI,*,0,*,0,0,*,0,*,*,0
129691,2016,Kenya,Zimbabwe,J / FI,*,*,*,*,0,0,0,*,*,*
129698,2016,Malawi,Zimbabwe,G / FI,0,0,*,0,0,0,*,*,0,0
129709,2016,Russian Federation,Zimbabwe,G / FI,*,*,*,0,0,0,*,*,0,0

In [65]:
# Eliminamos todas las columnas que tengan datos nulos dentro de la base de datos
an_drop_column = an.dropna(axis=1)
an_drop_column

        Year Country / territory of asylum/residence       Origin
0       2000                                Zimbabwe  Afghanistan
1       2000                            South Africa  Afghanistan
2       2000                              Uzbekistan  Afghanistan
3       2000                United States of America  Afghanistan
4       2000                United States of America  Afghanistan
...      ...                                     ...          ...
129715  2016                United States of America     Zimbabwe
129716  2016                United States of America     Zimbabwe
129717  2016                            South Africa     Zimbabwe
129718  2016                            South Africa     Zimbabwe
129719  2016                                  Zambia     Zimbabwe

[129720 rows x 3 columns]